* {
    padding: 0;
    margin: 0;
}


body {
    background-color: rgb(86, 92, 94);
    position: relative;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    border: white;
    background-color: rgb(46, 44, 44);
    text-align: center;
    font-size: 4rem;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    
    background-color: white;
    text-align: center;
}



.container {
    width: 1280px;
    margin: auto;

}


a {
    color: white;
    text-decoration: none
}

li {
    list-style: none;
}



.main-img {
    width: 600px;
    margin-top: 1%;
    margin-left: 0.3%;
    image-rendering: auto;
    border-image: fill;
    
}

img{
    width: 100px;
}

p {
    font-size: 16px;

}

.navbar {
    width: 100%;
    margin: auto;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
font-size: 4rem;

}

.home, .about, .portfolio{
    height: 720px;
    margin-top: 100px;
    border: 1px solid black;
}


@media(max-width:1280px) {
    .container {
        width: 100%;
    }
}